@import "tailwindcss";

@theme {
  --color-brand-red: #cd5542;
  --color-brand-cream: #fdf1da;
  --color-brand-green-dark: #4a7647;
  --color-brand-green-light: #bace76;
  --color-brand-brown: #ab886b;

  --animate-fadeUp: fadeUp 1s ease-out forwards;
}

:root {
  --background: #fdf1da;
  --foreground: #3b2b2b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(80px); }
  to { opacity: 1; transform: translateY(0); }
}

.reveal-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-up.visible {
  opacity: 1;
  transform: translateY(0);
}

